<h1 class="mb-4 mt-2 text-center">Dashboard</h1>

<h3 class="mb-2">Welcome, {{name}}</h3>
<br />

{{#if posts}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Post</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {{#each posts}}
        <tr class="">

          <td><a
              href="/posts/{{_id}}"
              class="h4 text-primary pt-1 text-decoration-none"
            >{{title}}</a></td>
          <td>{{formatDate createdAt "DD-MM-YYYY hh:mm:ss A"}}</td>
          <td>
            {{upperCase status}}
          </td>
          <td>
            <div class="d-flex">
              <a href="/posts/edit/{{_id}}" class="m-0 me-1"><button
                  class="btn btn-success"
                >Edit</button></a>
              <form action="/posts/{{_id}}" class="m-0 ms-1" method="POST">
                <input type="hidden" name="_method" value="DELETE" />
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No Posts created, Add One</p>
{{/if}}