<div class="card mt-4 rounded bg-dark text-light">
  <div class="d-flex p-3 pb-1 flex-row align-items-center">
    <img
      src="{{post.user.image}}"
      class="rounded-circle"
      style="width:60px"
      alt="..."
    /><a
      href="/posts/user/{{post.user._id}}"
      class="ms-2 h3 text-decoration-none text-warning ps-2"
    >{{post.user.displayName}}</a>
    {{{editIcon post.user user post._id}}}
  </div>

  <div class="card-body">
    <h3
      class="card-title pb-1"
      style="color: lightseagreen;"
    >{{post.title}}</h3>
    <h6>Date:
      {{formatDate post.createdAt "DD-MM-YYYY @ hh:mm:ss A"}}
      IST</h6>
    <hr />
    <p class="card-text">{{{post.body}}}
    </p>
  </div>
</div>